@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito&display=swap');
@import "./styles/variables";

body {
  background-image: url('/wordcloud-metadiction-edited.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-main {
  font-family: "Carlito", sans-serif;
  padding: 25px;
}

.app-header {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.app-logo {
  font-size: 36px;
  font-family: 'Cabin Sketch', cursive;
  padding: 5px 0;
  color: $text-color;
}

.page-body {
  margin-top: 25px;
}

.word-search {
  box-sizing: border-box;
  border: 2px solid $pale-color;
  border-radius: 5px;
  padding-left: 10px;
  width: 100%;
  display: flex;
  background-color: #FFFFFF;

  input {
    box-sizing: border-box;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 10px 10px 0;
  }

  button {
    border: none;
    border-left: 2px solid $pale-color;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 6px;

    &:active {
      background-color: #FFEFFD;
    }
  }
}

.word-info {
  padding: 20px 0;

  &:not(&:last-child) {
    border-bottom: 1px solid $pale-color;
  }
}

.word-header {
  display: flex;
  align-items: baseline;
  gap: 50px;

  .title {
    font-size: 40px;
    margin: 0 0;
    margin-bottom: 10px;
  }

  .pronunciation {
    font-size: 20px;
    color: $pale-color;

    &:not(&:last-child)::after {
      content: " | ";
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.word-meanings {
  display: grid;
  row-gap: 10px;

  elem {
    padding: 10px 0;
  }
}

.subtitle {
  margin: 5px 0;
}

.explanation {
  padding: 5px 0 5px 10px;

  .example {
    border-left: 5px solid $text-color;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 0 10px 10px;
  }

  .text {
    margin: 5px 0;
  }
}

.synonyms, .antonyms {
  padding: 5px 0 5px 10px;

  .subtitle {
    margin-bottom: 15px;
  }
}

.w-link {
  border: none;
  background-color: inherit;
  color: $text-color;
  cursor: pointer;
  font-family: "Carlito", sans-serif;
  font-size: 1rem;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }

  &:not(&:last-child) {
    padding-right: 10px;
  }
}

.put-panes {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;

  .pane {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    .pane {
      width: 45%;
    }
  }

  .pane h2 {
    margin: 0 0 25px;
  }
}

.text-input, .text-output {
  border: 2px solid $pale-color;
  border-radius: 5px;
  box-sizing: border-box;
  height: 50vh;
  padding: 10px;
  width: 100%;
}

.text-stats {
  display: flex;
  margin: 10px 0 25px;
  justify-content: left;
  column-gap: 50px;
}

.action-select {
  display: flex;
  justify-content: space-between;
  align-items: center;

  select {
    background-color: #FFFFFF;
    // border: 2px solid $pale-color;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 10px;
    width: 100%;
  }
}

.actions-pane {
  margin: 25px 0;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.action-set {
  display: grid;
  gap: 12px;
  grid-template-columns: auto auto;
  margin-bottom: 25px;

  @media screen and (min-width: 480px) {
    grid-template-columns: auto auto auto;
  }
  
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding-right: 50px;
    width: 60%;
  }
}

.operations {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: 40%;
  }
}

.action-button {
  border: none;
  border-radius: 2px;
  box-shadow: 0px 2px 3px -1px #000000;
  background-color: $text-color;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 20px;
  width: 100%;
  max-width: 300px;
  align-self: flex-end;
}

.actions {
  display: flex;
  align-items: self-start;
  gap: 5px;
}

.options-list {
  margin-bottom: 20px;
}

.operation-opt {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 25px;

  input {
    padding: 8px;
  }
}

.navbar {
  background-color: $text-color;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  box-shadow: 0px 2px 3px -1px #000000;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
}

.nav-links li {
  display: block;
  margin: 0 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  width: 0;
  height: 3px;
  background: #FFFFFF;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #FFFFFF;
}

.nav-link:hover::after {
  width: 100%;
}

/* Hamburger Menu Styling */
.mobile-menu-icon {
  display: none;
  cursor: pointer;
  margin-left: 20px;
}

.hamburger {
  width: 30px;
  height: 22px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1001;
}

.hamburger span {
  width: 90%;
  height: 2px;
  background: #fff;
  border-radius: 1px;
  transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px;
  position: absolute;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 9px;
  position: absolute;
}

/* Mobile Responsive Styling */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    width: 92%;
    background-color: $text-color;
    z-index: 1000;
    animation: slideIn 0.5s ease forwards;
  }

  .nav-links-mobile li {
    list-style: none;
    padding: 10px 0;
    margin-left: -15px;
  }

  .mobile-menu-icon {
    display: block;
  }

  .help-text {
    color: #FFFFFF;
    display: block;
    margin-right: 20px;
  }
}

/* Animations */
@keyframes slideIn {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}
